In [1]:
import pandas as pd
import openpyxl as px
import matplotlib.pyplot as plt

df = pd.read_csv('weather.csv')

In [2]:
df1 = pd.read_excel('weather_data.xlsx', sheet_name='Sheet1')

In [3]:
df1

         Day  Temperature  Windspeed  Event
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow
3 2024-01-04           24          7   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [4]:
weather_data = {
    'Day': ['1/1/2024', '1/2/2024', '1/3/2024'],
    'Temperature': [32, 35, 28],
    'Windspeed': [6, 7, 2],
    'Event': ['Rain', 'Sunny', 'Snow']
}

df2 = pd.DataFrame(weather_data)

In [5]:
df2

        Day  Temperature  Windspeed  Event
0  1/1/2024           32          6   Rain
1  1/2/2024           35          7  Sunny
2  1/3/2024           28          2   Snow

In [6]:
weather_data = [
    ('1/1/2024', 32, 6, 'Rain'),
    ('1/2/2024', 35, 7, 'Sunny'),
    ('1/3/2024', 28, 2, 'Snow')
]

df3 = pd.DataFrame(weather_data, columns=['Day', 'Temperature', 'Windspeed', 'Event'])
df3

        Day  Temperature  Windspeed  Event
0  1/1/2024           32          6   Rain
1  1/2/2024           35          7  Sunny
2  1/3/2024           28          2   Snow